@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sukhumvit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Inter), url(./assets/fonts/sukhumvit/SukhumvitSet-Text.ttf) format('truetype')
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Inter), url(./assets/fonts/inter/Inter-Black.ttf) format('truetype')
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    html {
        @apply font-sukhumvit bg-gray-900 text-white scroll-smooth snap-mandatory snap-y 
    }


    section {
        @apply scroll-mt-[56px];
    }
}


ul li a.active {
    @apply border-b-2 border-primary
}

ul.ul-style li.item {
    content: " ";
    width: 30px;
    @apply border-primary;
    list-style: none;

}
