@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sukhumvit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Inter), url(./assets/fonts/sukhumvit/SukhumvitSet-Text.ttf) format('truetype')
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Inter), url(./assets/fonts/inter/Inter-Black.ttf) format('truetype')
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img,
video {
    display: block;
    max-width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply font-sukhumvit bg-[#fafaff] text-white
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    transition: 0.2s ease-in;
}

ul,
ol {
    list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.btn {
    @apply rounded-md cursor-pointer transition-all duration-300 ease-in-out font-[400] outline-none
}

.btn-secondary {
    @apply p-[10px_18px] border-[2px_solid_rgb(57,134,250)] text-[#010606] mr-[1rem]
}

.btn-shadow {
    @apply shadow-[0_2px_5px_rgba(160,170,180,0.6)] hover:shadow-[0_2px_8px_rgba(160,170,180,0.6)]
}

.btn-primary {
    @apply p-[10px_18px] border-none bg-primary text-white hover:bg-primary/80
}

.sectionTitle {
    @apply text-[28px] text-[#151418] font-[700] mb-[3.5rem]
}

.big-card {
    @apply relative px-[2rem]  py-[2rem] rounded-md flex flex-col bg-[#fff] shadow-md;
}

.warpper-content {
    @apply mt-[5rem] text-[rgba(0,0,0,0.815)]
}

::-webkit-scrollbar {
    width: 0;
}

ul li a.active {
    @apply border-b-2 border-primary
}

ul.ul-style li.item {
    content: " ";
    width: 30px;
    @apply border-primary;
    list-style: none;

}


.custom-line {
    @apply bg-primary h-[1px];
}

.contact-social {
    @apply md:col-span-2 border-none rounded-md p-3 shadow-md btn-secondary gap-3 flex items-center justify-center
}

.contact-social strong {
    @apply hidden md:block
}